{% extends 'base.html.twig' %}

{% block title %}Hello AlarmController!{% endblock %}

{% block body %}
<div class="container">
    <section class="alarm-container">
        <button class="alarm__button">ALARM</button>
        <button class="alarm__button">ALARM</button>
        <button class="alarm__button">ALARM</button>
        <button class="alarm__button">ALARM</button>
    </section>
</div>

{% endblock %}
