{% extends 'base.html.twig' %}
{% block bootstrap_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <section class="contact">
            <div class="main-text">
                <h1 class="title">Me contacter</h1>
                <ul>
                    <li>
                        <a target="_blank" class="contact-link" href="https://github.com/TristanBonnal">
                            <i class="icon fa-brands fa-github"></i>
                            Github
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="contact-link" href="https://www.linkedin.com/in/tristan-bonnal/">
                            <i class="icon fa-brands fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a class="contact-link" href="mailto:bonnal.tristan91@gmail.com">
                            <i class="icon fa-solid fa-envelope"></i>
                            bonnal.tristan91@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact-form">
                <h2 class="title">Envoyer un message</h2>
                <div class="flash-message">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                {{ form(contact_form) }}
                {{ form_errors(contact_form) }}
        </section>
    </div>
{% endblock %}
