{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <section class="img-block">
        <div class="main-text">
            <h1 class="title">Bienvenue !</h1>
            <p>
                Je suis Tristan, développeur PHP-Symfony, formé à l'école O'Clock en 2021.<br>
                Depuis juillet 2022, je travaille au sein du groupe Qerys.<br>
                Ce site vous offre l'opportunité de découvrir mon parcours, mes réalisations, et de mieux faire connaissance avec mon univers professionnel.
            </p>
        </div>
        <img class="main-picture" src="{{ asset('assets/img/avatar.jpg', 'vite') }}" alt="me">
    </section>
</div>
{% endblock %}
