{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="container">
        <section class="img-block">
            <div class="main-text">
                <h1 class="title">Bienvenue !</h1>
                <p>
                    Je m'appelle Tristan, je suis développeur web spécialisé en backend et plus particulièrement en Symfony.
                    J'apprends le métier depuis maintenant un peu plus d'un an en autodidacte, et j'ai terminé une formation de six mois chez O'clock fin mars 2022.
                    Je suis fier de vous présenter ce site qui vous permettra de mieux me connaitre et de faire un tour sur mes projets.
                </p>
            </div>
            <img class="main-picture" src="{{ asset('assets/img/avatar.jpg') }}" alt="me">
        </section>
    </div>
</main>

{% endblock %}
