{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <section class="profile">
        <div class="main-text main-text__left">
            <h1 class="title">Parcours</h1>
            <p>
                Titulaire d'un BTS Moteurs à Combustion Interne en 2012, le secteur étant en crise à l'époque, je me tourne finalement vers un métier me permettant d'être mobile et autonome rapidement : croupier.
                Finalement, après 7 ans à travailler dans les casinos, je décide de me reconvertir dans un milieu que j'ai toujours affectionné, l'informatique. Depuis janvier 2021 je m'investis pleinement dans le développement web,
                d'abord en pratiquant et en me formant en autodidacte, puis en suivant une formation intensive de 6 mois chez O'clock. Aujourd'hui je suis à la recherche de mon premier contrat en entreprise.
            </p>
        </div>
        <div class="main-text main-text__right">
            <h1 class="title">Compétences</h1>
            <p>
                Comme beaucoup, j'ai commencé par apprendre le HTML et le CSS avant de me mettre au PHP grâce aux cours de Grafikart ou Openclassrooms.
                Pendant ma formation j'ai pu approfondir mes connaissances en frontend notamment en étudiant le Javascript, mais étant d'avantage attiré par les API, les BDD, etc..., j'ai choisi Symfony comme spécialisation.
                Par ailleurs, mes expériences passées ont fait de moi quelqu'un de rigoureux, qui aime travailler en équipe tout en étant autonome.
            </p>
        </div>
        <div class="main-text main main-text__skills">
            <h1 class="title">Stack technique</h1>
            <div class="skills">
                <div class="skills__left">
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="PHP"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"/>
                        <span>PHP</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Symfony"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/symfony/symfony-original.svg"/>
                        <span>Symfony</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="MySQL"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/>
                        <span>MySQL</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="HTML5"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                        <span>HTML</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="CSS3"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                        <span>CSS</span>
                    </div>
                </div>
                <div class="skills__right">
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Bootstrap"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"/>
                        <span>Bootstrap</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="JavaScript"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"/>
                        <span>Javascript</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Visual Studio Code"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"/>
                        <span>VSCode</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Git"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"/>
                        <span>Git</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Linux"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"/>
                        <span>Linux</span>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
