{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <section class="profile">
        <div class="main-text main-text__left">
            <h1 class="title">Parcours</h1>
            <p>
                Détenteur d'un BTS en Moteurs à Combustion Interne en 2012, j'ai pivoté vers une carrière de croupier en raison de la crise dans ce secteur. Après 7 ans dans les casinos, j'ai opéré une reconversion vers ma passion de toujours, l'informatique. Depuis janvier 2021, je me consacre pleinement au développement web, autodidacte au début, puis formé intensivement pendant 6 mois chez O'clock. Actuellement en poste chez Qerys, je continue d'explorer de nouvelles opportunités sur le marché.
            </p>
        </div>
        <div class="main-text main-text__right">
            <h1 class="title">Compétences</h1>
            <p>
                Une fois les bases acquises, je me suis d'abord tourné vers le développement back-end, avec PHP et Symfony. <br>
                J'ai ensuite élargi mes compétences en entreprise, en incluant des compétences devops (docker, gitlab, gitlab-ci, linux). <br>
                Aujourd'hui je tends à parfaire mon aspect fullstack, en me formant sur React.
            </p>
        </div>
        <div class="main-text main main-text__skills">
            <h1 class="title">Stack technique</h1>
            <div class="skills">
                <div class="skills__left">
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="PHP"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"/>
                        <span>PHP</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Symfony"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/symfony/symfony-original.svg"/>
                        <span>Symfony</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Laravel"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-plain.svg"/>
                        <span>Laravel</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="ApiPlatform"  src="{{ asset('assets/img/api_platform.svg') }}"/>
                        <span>ApiPlatform</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Docker"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"/>
                        <span>Docker</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="MySQL"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/>
                        <span>MySQL</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Redis"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg"/>
                        <span>Redis</span>
                    </div>
                </div>
                <div class="skills__right">
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="HTML5"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                        <span>HTML</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="CSS3"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                        <span>CSS</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Bootstrap"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"/>
                        <span>Bootstrap</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="JavaScript"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"/>
                        <span>Javascript</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Visual Studio Code"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"/>
                        <span>VSCode</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Git"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"/>
                        <span>Git</span>
                    </div>
                    <div class="mini-logo">
                        <img class="mini-logo__img" alt="Linux"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"/>
                        <span>Linux</span>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
