/*** profile css ***/

.main-text__left {
    padding-left: 1em;
    border-left: 1px solid var(--main-color-light);
}

.main-text__right {
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    padding-right: 1em;
    border-right: 1px solid var(--main-color-light);
}

.main-text__skills {
    max-width :100%;
}

.skills {
    display: flex;
    justify-content:space-around;
}

.mini-logo {
    margin-bottom: 1em;
    display: flex;
    gap: .8em;
    align-items: center;
}

.skills__right .mini-logo {
    flex-direction: row-reverse;
}

.mini-logo__img {
    width: 45px;
}