/**** base css ****/
:root {
  --main-bg: rgb(18, 18, 18);
  --main-color: rgba(157, 115, 255, 0.37);
  --main-color-light: rgba(157, 115, 255, 0.2);
  --text-color: rgba(255, 255, 255, 0.75);
  --text-color-deep: rgba(255, 255, 255, 1);
}

:root.light {
  --main-bg: rgb(230, 230, 230);
  --main-color: rgba(55, 107, 220, 0.8);
  --main-color-light: rgba(55, 107, 220, 0.5);
  --text-color: rgba(0, 0, 0, 0.75);
  --text-color-deep: rgba(0, 0, 0, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--main-bg);
  font-size: 16px;
  color: var(--text-color);
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.8em;
  transition: color 0.5s;
}

main {
  align-self: center;
}

.container {
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0.3) 10%, rgba(18, 18, 18, 0.6) 60%, rgba(22, 22, 22, 0.8) 95%), url(/assets/img/bg.jpg) center/cover no-repeat;
  height: 250px;
  margin-bottom: 1em;
}

.header.light {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.3) 10%, rgba(250, 250, 250, 0.6) 60%, rgba(255, 255, 255, 0.9) 95%), url(/assets/img/bg.jpg) center/cover no-repeat;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.5em;
  margin-right: 1em;
}
.logo a:hover {
  color: inherit;
}

.ban {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-color-light);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.nav-item {
  flex: none;
  margin-left: 1.5em;
  letter-spacing: 1px;
}
.nav-item a.active,
.nav-item a:hover,
.nav-item a:focus {
  transform: scale(1.05);
  border-bottom: 1px solid var(--main-color);
  color: var(--text-color-deep);
}

a,
a:visited {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px transparent solid;
  transition: border-bottom 0.3s, color 0.3s, transform 0.3s;
}

li {
  list-style: none !important;
}

ul {
  padding: 0;
}

.main-picture,
.map {
  border-radius: 5px;
  border: 1px solid var(--main-color-light);
}

.icon {
  margin-right: 0.5em;
}

footer {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  padding: 1em;
  opacity: 0.8;
}

/**** light/dark mode switch    ****/
#switch {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
  transition: 0.5s;
  box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.4), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
#switch.light {
  background: #f9f9f9;
  box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.3), inset 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
#switch.light #cursor {
  left: 20px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgb(255, 255, 255), inset 0 -1px 1px rgb(255, 255, 255);
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #777, #333);
  transform: scale(0.85);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

/**** home css ****/
.img-block {
  padding-left: 1em;
  margin: auto 0;
  display: flex;
  gap: 3em;
  justify-content: space-between;
  border-left: 1px solid var(--main-color-light);
}

.prez {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 800px;
}

.main-text {
  max-width: 500px;
  margin-bottom: 4em;
}

.title {
  margin-bottom: 0.5em;
  color: var(--main-color);
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 2px;
  transition: color 0.5s;
}

.main-picture {
  flex: none;
  width: 40%;
  min-width: 250px;
  max-width: 350px;
  opacity: 1;
}

/*** profile css ***/
.main-text__left {
  padding-left: 1em;
  border-left: 1px solid var(--main-color-light);
}

.main-text__right {
  text-align: end;
  margin-left: auto;
  margin-right: 0;
  padding-right: 1em;
  border-right: 1px solid var(--main-color-light);
}

.main-text__skills {
  max-width: 100%;
}

.skills {
  display: flex;
  justify-content: space-around;
}

.mini-logo {
  margin-bottom: 1em;
  display: flex;
  gap: 0.8em;
  align-items: center;
}

.skills__right .mini-logo {
  flex-direction: row-reverse;
}

.mini-logo__img {
  width: 45px;
}

/**** contact css ****/
.contact-link,
.project-links a {
  text-transform: none;
  letter-spacing: 0;
  font-size: 1.2em;
}
.contact-link:hover,
.project-links a:hover {
  color: var(--text-color-deep);
}

.contact #contact {
  display: grid;
  column-gap: 1rem;
}
.contact #contact > div:nth-child(5) {
  justify-self: center;
  min-width: min-content;
  width: 20%;
}
.contact #contact > div:nth-child(5) button {
  width: 100%;
}
@media (width > 768px) {
  .contact #contact {
    grid-template-columns: 1fr 1fr;
  }
  .contact #contact > div:nth-child(4),
  .contact #contact > div:nth-child(5) {
    grid-column: 1/3;
  }
}
.contact:focus {
  background-color: var(--main-color);
  color: var(--text-color-deep);
}
.contact textarea.form-control {
  width: 100%;
  min-height: 9em;
}
.contact #contact_submit {
  margin-top: 1em;
  background-color: var(--main-color);
  border-color: var(--main-color-light);
}
.contact #contact_submit:active {
  background-color: var(--main-color-light);
}
.contact .flash-message {
  margin-top: 2em;
}

/**** projects css ****/
.img-block__project {
  margin-bottom: 6em;
}

.img-block__reverse {
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: 1em;
  border-left: none;
  border-right: 1px solid var(--main-color-light);
}

.img-block__reverse .main-text {
  text-align: end;
}

.main-text__project {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0;
}

.main-text__project .title {
  margin-bottom: 0.5em;
}

.project-links {
  display: flex;
  gap: 2em;
}

.description-link,
.description-link:visited {
  text-transform: none;
  letter-spacing: normal;
  color: var(--main-color);
}

.img-block .img-link {
  display: block;
  flex: none;
  width: 40%;
  min-width: 250px;
  max-width: 350px;
  opacity: 1;
}

.project-picture {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--main-color-light);
}

.img-block__reverse .project-links {
  justify-content: end;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
  .header {
    height: 200px;
  }
  .img-block {
    display: block;
  }
  .img-block .img-link {
    width: 100%;
    margin: 0 auto;
  }
  .main-picture {
    display: block;
    margin: auto;
    width: 90%;
  }
  .map {
    width: 100%;
  }
  .main-text__project {
    margin-bottom: 2em;
  }
  .img-block__reverse {
    padding-left: 1em;
    padding-right: 0;
    border-right: none;
    border-left: 1px solid var(--main-color-light);
  }
  .img-block__reverse .main-text {
    text-align: start;
  }
  .img-block__reverse .project-links {
    justify-content: start;
  }
  .contact .form-control {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
  footer {
    flex-direction: column-reverse;
  }
  .main-text {
    padding: 0;
    border: none;
    text-align: justify;
  }
  .skills {
    display: block;
  }
  .mini-logo {
    padding: 0 1em;
    justify-content: space-between;
  }
  .skills__right .mini-logo {
    flex-direction: row;
  }
  .img-block {
    padding: 0;
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
