/* base css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(18, 18, 18);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}

.container {
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.3) 10%, rgba(18, 18, 18, 0.6) 60%,  rgba(22, 22, 22, 0.8) 95%),
    url(/assets/img/bg.jpg) center/ cover no-repeat;
    height: 300px;
    margin-bottom: 1em;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing:  3px;
    font-size: 1.5em;
    margin-right: 1em;

}

.ban {
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(157, 115, 255, 0.366);
}

.nav {
    display:block;
    width: 100%;
}

.nav-item {
    margin-left:1.5em;;
    display: inline-block;
    letter-spacing: 1px;
}


a,
a:visited {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px transparent solid;

}

li {
    list-style: none;
}

.active,
.nav-item a:hover {
    transform: scale(1.03);
    border-bottom: 1px solid rgba(157, 115, 255, 0.6);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}

.main-picture,
.map {
    border-radius: 5px;
}

.footer-text {
    margin-top: 3em;
    text-align: center;
    padding: 1em;
    opacity: 0.8;
}


/* home css */
.img-block {
    padding-left: 1em;
    margin: auto 0;
    display: flex;
    gap: 3em;
    justify-content:space-between;
    border-left: 1px solid rgba(157, 115, 255, 0.366);
}

.prez {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
    max-width: 800px;
}

.main-text {
    max-width: 500px;
    margin-bottom: 4em;
}

.title {
    margin-bottom: 1em;
    color: rgba(157, 115, 255, 0.36);
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing:2px;
}

.main-picture {
    flex: none;
    width: 40%;
    min-width: 250px;
    max-width :350px;
    opacity: 0.8;
}

/* profile css */
.main-text__left {
    padding-left: 1em;
    border-left: 1px solid rgba(157, 115, 255, 0.366);
}

.main-text__right {
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    padding-right: 1em;
    border-right: 1px solid rgba(157, 115, 255, 0.366);
}

.main-text__skills {
    max-width :100%;
}

.skills {
    display: flex;
    justify-content:space-around;
}

.mini-logo {
    margin-bottom: 1em;
    display: flex;
    gap: .8em;
    align-items: center;
}

.skills__right .mini-logo {
    flex-direction: row-reverse;
}

.mini-logo__img {
    width: 45px;
}

/* contact css */
.contact-link,
.project-links a {
    text-transform: none;
    letter-spacing: 0;
}

.icon {
    margin-right: .5em;
}

.map {
    display: flex;
    width: 80%;
    height: 450px;
    margin: 0 auto;
}

/* projects css */
.img-block__project {
    margin-bottom: 6em;
}

.img-block__reverse {
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right:1em;
    border-left: none;
    border-right: 1px solid rgba(157, 115, 255, 0.366);
}

.img-block__reverse .main-text{
    text-align: end;
}

.main-text__project {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content:space-around;
    margin-bottom: 0;
}

.main-text__project .title {
    margin-bottom: 0;
}

.project-links {
    display: flex;
    gap: 2em;
}

.img-block__reverse .project-links {
    justify-content: end;
}


@media only screen and (max-width :870px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

    .header {
        height: 200px;
    }

}

@media only screen and (max-width :750px) {
    .img-block {
        display: block;
    }

    .main-picture {
        display: block;
        margin: auto;
        width: 90%;
    }

    .map {
        width: 100%;
    }

    .main-text__project {
        margin-bottom: 2em;
    }

    .img-block__reverse {
        padding-left: 1em;
        padding-right:0;
        border-right: none;
        border-left: 1px solid rgba(157, 115, 255, 0.366);
    }

    .img-block__reverse .main-text{
        text-align: start;
    }

    .img-block__reverse .project-links {
        justify-content: start;
    }

}

@media only screen and (max-width :350px) {
    body {
        font-size: 16px;
    }

    .main-text {
        padding: 0;
        border: none;
        text-align: justify;
    }

    .skills {
        display: block;
    }

    .mini-logo {
        padding: 0 1em;
        justify-content: space-between;
    }

    .skills__right .mini-logo {
        flex-direction: row;
    }

    .img-block {
        padding: 0;
        border: none;
    }
}


 

