/* base css */
:root {
    --main-bg: rgb(18, 18, 18);
    --main-color: rgba(157, 115, 255, 0.37);
    --main-color-light: rgba(157, 115, 255, 0.2);
    --main-color-deep: rgba(157, 115, 255, 0.6);
    --text-color: rgba(255, 255, 255, 0.7);
}

:root.light {
    --main-bg: rgb(210, 210, 210);
    --main-color: rgba(97, 57, 187, 0.8);
    --main-color-deep: rgba(97, 57, 187, 0.9);
    --main-color-light: rgba(97, 57, 187, 0.4);
    --text-color: rgba(0, 0, 0, 0.7);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--main-bg);
    font-size: 16px;
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8em;
    transition: .5s;
}

.container {
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.3) 10%, rgba(18, 18, 18, 0.6) 60%,  rgba(22, 22, 22, 0.8) 95%),
    url(/assets/img/bg.jpg) center/ cover no-repeat;
    height: 250px;
    margin-bottom: 1em;

}

.header.light {
    background: linear-gradient(180deg, rgba(230, 230, 230, 0.3) 10%, rgba(235, 235, 235, 0.6) 60%,  rgba(245, 245, 245, 0.85) 95%),
    url(/assets/img/bg.jpg) center/ cover no-repeat;

}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing:  3px;
    font-size: 1.5em;
    margin-right: 1em;

}

.ban {
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.nav {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.nav-item {
    flex: none;
    margin-left:1.5em;;
    letter-spacing: 1px;
}


a,
a:visited {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px transparent solid;

}

li {
    list-style: none;
}

.nav-item a.active,
.nav-item a:hover {
    transform: scale(1.03);
    border-bottom: 1px solid var(--main-color-deep);
    color: #fff;
    transition: .3s;
}

.main-picture,
.map {
    border-radius: 5px;
    border: 1px solid var(--main-color-light)
}

footer {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 1em;
    opacity: 0.8;
}

/* light/dark mode switch  */

#switch {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    transition: .5s;
    box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.4),
                inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

#cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #777, #333 );
    transform: scale(0.85);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5),
                inset 0 1px 1px rgba(255,255,255,0.3),
                inset 0 -1px 1px rgba(255,255,255,0.3);
    transition: .5s;
}

.light #cursor {
    left: 20px;
}

/* home css */
.img-block {
    padding-left: 1em;
    margin: auto 0;
    display: flex;
    gap: 3em;
    justify-content:space-between;
    border-left: 1px solid var(--main-color);
}

.prez {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
    max-width: 800px;
}

.main-text {
    max-width: 500px;
    margin-bottom: 4em;
}

.title {
    margin-bottom: .5em;
    color: var(--main-color);
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing:2px;
}

.main-picture {
    flex: none;
    width: 40%;
    min-width: 250px;
    max-width :350px;
    opacity: 0.8;
}

/* profile css */
.main-text__left {
    padding-left: 1em;
    border-left: 1px solid var(--main-color);
}

.main-text__right {
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    padding-right: 1em;
    border-right: 1px solid var(--main-color);
}

.main-text__skills {
    max-width :100%;
}

.skills {
    display: flex;
    justify-content:space-around;
}

.mini-logo {
    margin-bottom: 1em;
    display: flex;
    gap: .8em;
    align-items: center;
}

.skills__right .mini-logo {
    flex-direction: row-reverse;
}

.mini-logo__img {
    width: 45px;
}

/* contact css */
.contact-link,
.project-links a {
    text-transform: none;
    letter-spacing: 0;
}

.icon {
    margin-right: .5em;
}

.map {
    display: flex;
    width: 80%;
    height: 450px;
    margin: 0 auto;
}

/* projects css */
.img-block__project {
    margin-bottom: 6em;
}

.img-block__reverse {
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right:1em;
    border-left: none;
    border-right: 1px solid var(--main-color);
}

.img-block__reverse .main-text{
    text-align: end;
}

.main-text__project {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content:space-around;
    margin-bottom: 0;
}

.main-text__project .title {
    margin-bottom: .5em;
}

.project-links {
    display: flex;
    gap: 2em;
}


.img-block__reverse .project-links {
    justify-content: end;
}

@media only screen and (max-width :800px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

    .header {
        height: 200px;
    }

    .img-block {
        display: block;
    }

    .main-picture {
        display: block;
        margin: auto;
        width: 90%;
    }

    .map {
        width: 100%;
    }

    .main-text__project {
        margin-bottom: 2em;
    }

    .img-block__reverse {
        padding-left: 1em;
        padding-right:0;
        border-right: none;
        border-left: 1px solid var(--main-color);
    }

    .img-block__reverse .main-text{
        text-align: start;
    }

    .img-block__reverse .project-links {
        justify-content: start;
    }

}

@media only screen and (max-width :500px) {
    .nav {
        flex-direction:column;
    }

    .main-text {
        padding: 0;
        border: none;
        text-align: justify;
    }

    .skills {
        display: block;
    }

    .mini-logo {
        padding: 0 1em;
        justify-content: space-between;
    }

    .skills__right .mini-logo {
        flex-direction: row;
    }

    .img-block {
        padding: 0;
        border: none;
    }
}


 

