* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: rgba(253, 253, 253, 0.7);
}

a,
a:visited {
    color: rgba(255, 255, 255, 0.678);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

.logo a{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.606);
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%,  rgba(28, 28, 28, 0.4)),
    url(/assets/img/raspberrypi.jpg) center center/ cover no-repeat;
    margin-top: 0;
    height: 500px;
    padding: 1em;

}

.container {
    margin: 0 auto;
}

.ban {
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 500px;
    display:flex;
    justify-content: space-between;
}

.nav-item {
    font-weight: bold;
    letter-spacing: 1px;
}

p {
    margin: 1em 0;
}




 

