* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(179deg,rgb(10, 10, 10)  10%, rgb(20, 20, 20) 67%, rgb(35, 35, 35) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.6) 39.24%,  rgba(13, 13, 13, 1)),
    url(/assets/img/bg.jpg) center/ cover no-repeat;
    height: 300px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing:  3px;
    font-size: 1.5em;
    margin-right: 1em;

}

.ban {
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(157, 115, 255, 0.366);
}

.nav {
    display:block;
    width: 100%;
}

.nav-item {
    margin-left:1.5em;;
    display: inline-block;
    letter-spacing: 1px;
    border: 1px transparent solid;
}

p {
    margin: 1em 0;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

li {
    list-style: none;
}

.active,
.nav-item:hover {
    border-bottom: 1px solid rgba(157, 115, 255, 0.6);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}


.intro {
    padding: 1em;
    margin: auto 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border-left: 1px solid rgba(157, 115, 255, 0.366); */
}

.prez {
    margin-right: 2em;
    max-width: 800px;
    text-align: justify;
}

.avatar {
    width: 30%;
    opacity: 0.8;
}


.footer-text {
    text-align: center;
}


@media only screen and (max-width :870px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

    .header {
        height: 200px;
    }

}

@media only screen and (max-width :822px) {
}




 

