* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

a,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
}

li {
    list-style: none;
}

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.95), rgba(54, 54, 54, 0.8) 39.24%,  rgba(28, 28, 28, 0.4)),
    url(/assets/img/raspberrypi.jpg) center center/ cover no-repeat;
    margin-top: 0;

    padding: 1em;

}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing:  3px;
    font-size: 1.5em;

}

.ban {
    width: 100%;
    padding-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(157, 115, 255, 0.366);
}

.nav {
    display:block;
    width: 100%;
}

.nav-item {
    margin-left:1.5em;;
    display: inline-block;
    letter-spacing: 1px;
}

p {
    margin: 1em 0;
}




 

